---
import "../../styles/global.css";
import WindowTitle from "./WindowTitle.astro";

interface Props {
    class?: string;
    style?: string;
    title?: string;
    random?: boolean;
}

const randomX = Math.floor((Math.random() * 2 - 1) * 10);
const randomY = Math.floor((Math.random() * 2 - 1) * 2);

const randStyle = Astro.props.random ? `` : `left: ${randomX}px; top: ${randomY}px; position: relative;`;
---

<div
    class={`shadow-w relative ${Astro.props.class}`}
    style={`${randStyle} ${Astro.props.style}`}
>
    <WindowTitle class="w-full" title={Astro.props.title || "window"} />
    <div
        class={`p-4 mb-0 bg-default-div border-2 border-default-border border-solid shadow-d overflow-hidden`}
    >
        <slot />
    </div>
</div>
