---
const { class: string } = Astro.props;

import "../../styles/global.css";

import b1 from "../../images/buttons/e26f5c9e.gif";
import b2 from "../../images/buttons/a (52).gif";
import b3 from "../../images/buttons/FS5k82E.png";
import b4 from "../../images/buttons/nowebp.gif";
import b5 from "../../images/buttons/webdesign.gif";
import b6 from "../../images/buttons/000010.gif";
import b7 from "../../images/buttons/amd_powered.gif";
import b8 from "../../images/buttons/best_chrome.gif";
import b9 from "../../images/buttons/bestlandscape.gif";

const siteButtons = [
    {
        href: "https://nekoa.me",
        src: "https://nekoa.me/images/new%2088x31%20anim.gif",
        alt: "mango-ki on nekoweb",
    },
    {
        href: "https://joetroll.is-a.dev",
        src: "https://joetroll.is-a.dev/button.gif",
        alt: "joetroll's button",
    },
    {
        href: "https://dimden.dev/",
        src: "https://dimden.dev/services/images/88x31.gif",
        alt: "Dimden's button",
    },
    {
        href: "https://status.cafe",
        src: "https://status.cafe/assets/button.png",
        alt: "Status Cafe",
    },
    {
        href: "https://nekoweb.org/",
        src: "https://nekoweb.org/assets/buttons/button6.gif",
        alt: "NekoWeb button by s1nez",
    },
    {
        href: "https://natu.moe",
        src: "https://natu.moe/img/natumoe.gif",
        alt: "Natu.moe button",
    },
    {
        href: "https://cinni.net",
        src: "https://cinni.net/images/button/cinni-88x31-hamham.gif",
        alt: "Cinni.net button",
    },
    {
        href: "https://melonking.net",
        src: "https://melonking.net/images/badges/MELON-BADGE-2.GIF",
        alt: "Visit Melonking.Net!",
    },
    {
        href: "https://afellowu.neocities.org/",
        src: "https://afellowu.neocities.org/images/buttons/mebi_county.gif",
        alt: "Mebi County",
    },
    {
        href: "https://99gifshop.neocities.org",
        src: "https://99gifshop.neocities.org/img/88x31.png",
        alt: "99gifshop",
    },
    {
        href: "https://kanandraw.carrd.co",
        src: "https://files.catbox.moe/d86e98.gif",
        alt: "kanandraw's button",
    },
];

const buttons = [
    {
        src: b1.src,
        alt: "best viewed on desktop",
    },
    {
        src: b2.src,
        alt: "html! learn it NOW!!",
    },
    {
        src: b3.src,
        alt: "internet archive",
    },
    {
        src: b4.src,
        alt: "no webp, just use png!!",
    },
    {
        src: b5.src,
        alt: "web design is my passion",
    },
    {
        src: b6.src,
        alt: "000010",
    },
    {
        src: b7.src,
        alt: "AMD powered",
    },
    {
        src: b8.src,
        alt: "best viewed with chrome",
    },
    {
        src: b9.src,
        alt: "best viewed in landscape",
    },
];
---

<div
    class=`w-[54.5rem] overflow-hidden relative bg-default-div border border-default-border border-dotted`
>
    <div class="flex flex-nowrap h-[31px] animate-scroll hover:animate-pause">
        {/* Original buttons */}
        {
            siteButtons.map((button) => (
                <a
                    href={button.href}
                    target="_blank"
                    class="inline-block w-[88px] h-[31px] p-0 flex-shrink-0"
                >
                    <img src={button.src} alt={button.alt} />
                </a>
            ))
        }
        {/* Duplicate the buttons for seamless loop */}
        {
            siteButtons.map((button) => (
                <a
                    href={button.href}
                    target="_blank"
                    class="inline-block w-[88px] h-[31px] p-0 flex-shrink-0"
                >
                    <img src={button.src} alt={button.alt} />
                </a>
            ))
        }
    </div>
    <div class="flex flex-nowrap h-[31px] animate-scroll2 hover:animate-pause">
        {/* Original buttons */}
        {buttons.map((button) => <img src={button.src} alt={button.alt} />)}
        {/* Duplicate the buttons for seamless loop */}
        {buttons.map((button) => <img src={button.src} alt={button.alt} />)}
    </div>
</div>

<style>
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(
                calc(-88px * 11)
            ); /* Replace with the total width of one set of buttons */
        }
    }

    @keyframes scroll2 {
        from {
            transform: translateX(calc(-88px * 9));
        }
        to {
            transform: translateX(
                0
            ); /* Replace with the total width of one set of buttons */
        }
    }

    .animate-scroll {
        animation: scroll calc(50s / 11) linear infinite;
    }

    .animate-scroll2 {
        animation: scroll2 calc(50s / 11) linear infinite;
    }

    .hover\:animate-pause:hover {
        animation-play-state: paused;
    }
</style>
