---
import Layout from '../layouts/Layout.astro';
import MainDiv from '../components/MainDiv.astro';
import BlogPost from '../components/BlogPost.astro';
import '../styles/global.css'
const allPosts = await Astro.glob('./posts/*.md');

allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime());
---

<Layout title="blog | taxevaiden's website" description="i love posting">
	<body>

		<MainDiv>
			<h1>blog..</h1>
            <p>welcome to the best blog of All Time</p>
            <p style="margin-bottom: 2em;">normally i just post about stuff that's been going on in my life. i really don't know what else to say on here :pensive:</p>

            <!-- <ul>
                {allPosts.map((post) => 
                <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
            </ul> -->

            {allPosts.map((post) => 
            <BlogPost title={post.frontmatter.title} description={post.frontmatter.description} date={post.frontmatter.pubDate.toString().slice(0,10)} link={post.frontmatter.url}></BlogPost>)}
            
		</MainDiv>

	</body>
</Layout>