---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import MainDiv from "../components/main/MainDiv.astro";

const projectTitles = [
    "this website",
    "the old website",
    "song of the day",
    "twtGUI",
    "cool sandbox game",
    "a swordfight game",
    "verlet integration tests",
    "multiple golf games, never finished",
];

const projectDescriptions = [
    "common sense",
    "the version before this version, it looks kinda bad to me now",
    "get new songs everyday.",
    "twtGUI is a twtxt GUI client.",
    "i used to make roblox games back in the day. this is one of them! (it's kinda bad)",
    "another roblox game (it's kinda bad)",
    "i made a lot of things with verlet integration and it was very.. stable! (no it wasn't)",
    "i had a big vision. one day...",
];

const projectLinks = [
    "https://taxevaiden.pages.dev/projects",
    "https://oldevaiden.pages.dev",
    "https://sotd.pages.dev",
    "https://github.com/taxevaiden/twtGUI",
    null,
    null,
    null,
    null,
];
---

<Layout title="projects | taxevaiden's website" description="neeeeeeerd">
    <MainDiv>
        <h1>projects</h1>
        <p>tbh most of these aren't really projects and are more like things i do for fun</p>

        <div class="project-list">
            {
                projectTitles.map((title, index) =>
                    projectLinks[index] ? (
                        <Card
                            title={title}
                            description={projectDescriptions[index]}
                            link={projectLinks[index]}
                        />
                    ) : (
                        <Card
                            title={title}
                            description={projectDescriptions[index]}
                        />
                    ),
                )
            }
        </div>
    </MainDiv>
</Layout>
