---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import MainDiv from "../components/main/MainDiv.astro";

const projectTitles = [
    "this website",
    "the old website",
    "song of the day",
    "twtGUI",
    "WavEdit",
    "cool sandbox game",
    "a swordfight game",
    "verlet integration tests",
    "multiple golf games, never finished",
];

const projectDescriptions = [
    "i really don't know what else to say here. it's this website",
    "ah, the good old days..",
    "get new songs everyday.",
    "twtGUI is a twtxt GUI client.",
    "audio editor, does some pretty cool stuff with sound waves too (WIP, I legit still can't find a rendering library to use)",
    "i used to make roblox games back in the day. this is one of them! (it's kinda bad)",
    "another roblox game (it's kinda bad)",
    "i made a lot of things with verlet integration and it was very.. stable! (no it wasn't)",
    "i had a big vision. one day. one day chat",
];

const projectLinks = [
    null,
    null,
    "https://sotd.pages.dev",
    "https://github.com/taxevaiden/twtGUI",
    null,
    null,
    null,
    null,
];
---

<Layout title="projects | taxevaiden's website" description="neeerrrd">
    <MainDiv>
        <h1>projects</h1>
        <p>just know:<br />most of these aren't really projects at all</p>
        <p class="mb-8">they're mostly just experiments. ok</p>

        <div class="project-list">
            {
                projectTitles.map((title, index) =>
                    projectLinks[index] ? (
                        <Card
                            title={title}
                            description={projectDescriptions[index]}
                            link={projectLinks[index]}
                        />
                    ) : (
                        <Card
                            title={title}
                            description={projectDescriptions[index]}
                        />
                    ),
                )
            }
        </div>
    </MainDiv>
</Layout>
