---
interface Props {
    title: string;
    link?: string;
    date?: string;
    description: string;
}
---

<article class="mb-4">
    {
        Astro.props.link ? (
            <span>
                <a href={Astro.props.link}>
                    <h3 class="my-2 inline">{Astro.props.title}</h3>
                </a>
            </span>
        ) : (
            <span>
                <h3 class="my-2 inline">{Astro.props.title}</h3>
            </span>
        )
    }

    {
        Astro.props.date && (
            <p class="my-2 ml-2">
                <small>{Astro.props.date}</small>
            </p>
        )
    }

    <p class="mt-1 mb-1 ml-2">{Astro.props.description}</p>

    <!-- add other stuff to the card here..... -->
    <slot />
</article>
