---
import "../styles/global.css";
import "../styles/themes.css";

import Footer from "../components/main/Footer.astro";
import SideBar from "../components/main/SideBar.astro";
import Header from "../components/main/Header.astro";

interface Props {
    title: string;
    description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;

import CommonHead from "../components/main/CommonHead.astro";

const anims = [
    "flip",
    "fade",
    "rotate",
    "rotate",
    "rotate",
    "rotate",
    "rotate",
    "rotate",
    "rotate",
    "rotate",
    "rotate",
    "rotate",
    "rotate",
    "zoomIn",
    "zoomOut",
    "slideLeft",
    "slideRight",
    "slideUp",
    "slideDown",
];

const randomAnim = anims[Math.floor(Math.random() * anims.length)];

//this is for testing!!
//const randomAnim = "fade";

// Original duration is 0.5s.
// Change it back when the April Fool's day mood is over.

const anim = {
    old: {
        name: `${randomAnim}-begin`,
        duration: "2s",
        easing: "linear",
    },
    new: {
        name: `${randomAnim}-end`,
        duration: "2s",
        easing: "linear",
    },
};

const customTransition = {
    forwards: anim,
    backwards: anim,
};
---

<!doctype html>
<html lang="en" class="theme-default">
    <head>
        <CommonHead title={title} description={description} />
    </head>
    <body>
        <div style="perspective: 1000px">
            <div
                style="transform: rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px); transform-origin: center; transform-style: preserve-3d;"
            >
                <div transition:animate={customTransition} id="viewport">
                    <div
                        class="absolute inset-0 h-full bg-gradient-to-b from-default-bg1 to-default-bg2 bg-no-repeat -z-20"
                    >
                    </div>
                    <div
                        class="w-screen h-max bg-dither-10 fixed inset-0 -z-20"
                    >
                    </div>
                    <div
                        class="max-w-fit mx-auto flex justify-center min-w-screen flex-col border border-default-border border-solid shadow-d relative"
                        style="image-rendering: pixelated;"
                    >
                        <Header />

                        <div class="flex flex-row max-w-fit">
                            <SideBar />
                            <main class="w-[38rem] basis-auto">
                                <slot />
                            </main>
                        </div>

                        <Footer />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<style is:global>
    /* flip */
    @keyframes flip-begin {
        0% {
            transform: rotateY(0deg);
        }

        50% {
            transform: rotateY(90deg);
        }

        100% {
            transform: rotateY(90deg);
        }
    }

    @keyframes flip-end {
        0% {
            transform: rotateY(-90deg);
        }

        50% {
            transform: rotateY(-90deg);
        }

        100% {
            transform: rotateY(0deg);
        }
    }

    /* fade */

    @keyframes fade-begin {
        0% {
            opacity: 1;
            z-index: 1;
        }

        100% {
            opacity: 0;
            z-index: 1;
        }
    }

    @keyframes fade-end {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    /* zoom */

    @keyframes zoomIn-begin {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(6);
            opacity: 1;
        }

        100% {
            transform: scale(12);
            opacity: 0;
        }
    }

    @keyframes zoomIn-end {
        0% {
            transform: scale(0);
            opacity: 0;
        }

        50% {
            transform: scale(0);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes zoomOut-begin {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        75% {
            transform: scale(0);
            opacity: 1;
        }

        100% {
            transform: scale(0);
            opacity: 0;
        }
    }

    @keyframes zoomOut-end {
        0% {
            transform: scale(12);
            opacity: 0;
        }

        50% {
            transform: scale(6);
            opacity: 1;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    /* rotate */

    @keyframes rotate-begin {
        0% {
            transform: rotateZ(0deg);
            opacity: 1;
        }

        50% {
            transform: rotateZ(180deg);
            opacity: 1;
        }

        51% {
            transform: rotateZ(183.6deg);
            opacity: 0;
        }

        100% {
            transform: rotateZ(360deg);
            opacity: 0;
        }
    }

    @keyframes rotate-end {
        0% {
            transform: rotateZ(0deg);
            opacity: 0;
        }

        50% {
            transform: rotateZ(180deg);
            opacity: 0;
        }

        51% {
            transform: rotateZ(183.6deg);
            opacity: 1;
        }

        100% {
            transform: rotateZ(360deg);
            opacity: 1;
        }
    }

    @keyframes rotateCounter-begin {
        0% {
            transform: rotateZ(0deg);
            opacity: 1;
        }

        50% {
            transform: rotateZ(-180deg);
            opacity: 1;
        }

        51% {
            transform: rotateZ(-183.6deg);
            opacity: 0;
        }

        100% {
            transform: rotateZ(-360deg);
            opacity: 0;
        }
    }

    @keyframes rotateCounter-end {
        0% {
            transform: rotateZ(0deg);
            opacity: 0;
        }

        50% {
            transform: rotateZ(-180deg);
            opacity: 0;
        }

        51% {
            transform: rotateZ(-183.6deg);
            opacity: 1;
        }

        100% {
            transform: rotateZ(-360deg);
            opacity: 1;
        }
    }

    /* slide */
    @keyframes slideLeft-begin {
        0% {
            transform: translateX(0px);
        }

        100% {
            transform: translateX(-100vw);
        }
    }

    @keyframes slideLeft-end {
        0% {
            transform: translateX(100vw);
        }

        100% {
            transform: translateX(0px);
        }
    }

    @keyframes slideRight-begin {
        0% {
            transform: translateX(0px);
        }

        100% {
            transform: translateX(100vw);
        }
    }

    @keyframes slideRight-end {
        0% {
            transform: translateX(-100vw);
        }

        100% {
            transform: translateX(0px);
        }
    }

    @keyframes slideUp-begin {
        0% {
            transform: translateY(0px);
        }

        100% {
            transform: translateY(-100vh);
        }
    }

    @keyframes slideUp-end {
        0% {
            transform: translateY(100vh);
        }

        100% {
            transform: translateY(0px);
        }
    }

    @keyframes slideDown-begin {
        0% {
            transform: translateY(0px);
        }

        100% {
            transform: translateY(100vh);
        }
    }

    @keyframes slideDown-end {
        0% {
            transform: translateY(-100vh);
        }

        100% {
            transform: translateY(0px);
        }
    }
</style>
