---
import MainDiv from "../components/main/MainDiv.astro";
import TableOfContents from "../components/blog/TableOfContents.astro";

import "../styles/global.css";

import Layout from "./Layout.astro";

const { frontmatter, headings } = Astro.props;

const title = `${frontmatter.title} | taxevaiden's website`;
const description = frontmatter.description;
---

<Layout title={title} description={description}>
    <MainDiv>
        <a href="../../blog">&#129168;&#129168; go back!</a>

        {headings.length > 0 && <TableOfContents headings={headings} />}

        <h1>{frontmatter.title}</h1>
        <p><small>{frontmatter.pubDate.toString().slice(0, 10)}</small></p>

        <slot />
    </MainDiv>
</Layout>
