---
import MainDiv from "../components/main/MainDiv.astro";
import TableOfContents from "../components/blog/TableOfContents.astro";

import "../styles/global.css";

import Layout from "./Layout.astro";

const { frontmatter, headings } = Astro.props;

const title = `${frontmatter.title} | taxevaiden's website`;
const description = frontmatter.description;
---

<Layout title={title} description={description}>

    {headings.length > 0 && <TableOfContents headings={headings} title={frontmatter.title} />}

    <MainDiv
        title={`${frontmatter.title} :: ${frontmatter.pubDate.toString().slice(0, 10)}`}
        
    >
        <a href="../../blog">&lt;&lt;&lt; go back!</a>

        <div class="mt-4"><slot /></div>
    </MainDiv>
</Layout>
